@import "tailwindcss";

/* --- Beautiful Custom Scrollbar --- */
.custom-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Hidden by default */
  transition: scrollbar-color 0.3s;
}

.custom-scrollbar:hover {
  scrollbar-color: #b0b0b0 transparent; /* Show on hover */
}

/* Webkit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
}